In [3]:
#Tuplas são conjuntos de dados similares às listas, mas são imutáveis
livro = ("A arte da guerra", "Sun tzu", "978-8572835080")
#Os elementos de uma tupla ficam entre parênteses

#e são acessados de forma similar às listas
titulo = livro[0]

print(titulo)
print()


#Tuplas com um único elemento são definidas com uma vírgula após o elemento
cidade = ("Oslo",)
print(cidade)
print()

#Tuplas podem ser definidas sem parenteses
destino = "Mônaco", "Jatinho", 14
print(destino)
print()


#Função tuple(): transforma uma lista em tupla
destinos = ["Oslo", "Mônaco", "Vancouver", "Califórnia", "Fernando de Noronha"]
dest = tuple(destinos)

print(dest)

A arte da guerra

('Oslo',)

('Mônaco', 'Jatinho', 14)

('Oslo', 'Mônaco', 'Vancouver', 'Califórnia', 'Fernando de Noronha')

In [4]:
destinos1 = ["Oslo", "Mônaco", "Vancouver", "Califórnia", "Fernando de Noronha"]

#Podemos usar fatiamento (slice) em tuplas
print("Último destino:", destinos1[-1])

Último destino: Fernando de Noronha

In [6]:
#Tuplas são imutáveis, a menos que seus elementos sejam mutáveis
dimensoes = (55, 65, 80)

#Tentar mudar um elemento de uma tupla retorna um erro
#dimensoes[1] = 60 #Saída: ERROR

#Porém, se os elementos da tupla forem mutáveis, como uma lista, podemos alterar seus itens
objetos_proibidos = ["Bebidas acima de 100ml", "Armas de fogo", "Exlosivos", "Baterias de lítio"]

regras_bagagem = (dimensoes, objetos_proibidos)
print(regras_bagagem)
print()

regras_bagagem[1].append("Objetos cortantes")
print(regras_bagagem)
print()

((55, 65, 80), ['Bebidas acima de 100ml', 'Armas de fogo', 'Exlosivos', 'Baterias de lítio'])

((55, 65, 80), ['Bebidas acima de 100ml', 'Armas de fogo', 'Exlosivos', 'Baterias de lítio', 'Objetos cortantes'])

In [10]:
#Operações com tuplas
tupla1 = (1, 2, 3)
tupla2 = (4, 5, 6)


#Concatenação: "+"
print(f"Suas duas tuplas juntas: {tupla1 + tupla2}")
print()


#Repetição: *
print(f"Sua tupla repetida: {tupla1 * 3}")
print()



#Verificar se um elemento está na tupla: x in tupla = (x, y, z)
print(f"O número 3 está na tupla: {3 in tupla1}")

Suas duas tuplas juntas: (1, 2, 3, 4, 5, 6)

Sua tupla repetida: (1, 2, 3, 1, 2, 3, 1, 2, 3)

O número 3 está na tupla: True

In [25]:
#Métodos em tuplas
vendas_id_produto = (101, 103, 342, 101, 733, 839, 292, 101)
produtos = {"Água sanitária": 101, "Sabão em pó": 103, "Sabão em barra": 292, "Amaciante": 342, "Desinfetante": 733, "Detergente": 839}

# count(): conta o número de vezes que um elemento aparece um uma tupla
for produto in produtos:
    print(f"{produto} tem {vendas_id_produto.count(produtos[produto])} vendas")

print()
#Depois a gente aprende sobre dicionários =)


# index(): retorna o índice do primeiro elemento que corresponde ao argumento especificado
for prod in produtos:
    print(f"A primeira aparição do produto {prod} foi na {vendas_id_produto.index(produtos[prod]) + 1}° venda")

Água sanitária tem 3 vendas
Sabão em pó tem 1 vendas
Sabão em barra tem 1 vendas
Amaciante tem 1 vendas
Desinfetante tem 1 vendas
Detergente tem 1 vendas

A primeira aparição do produto Água sanitária foi na 1° venda
A primeira aparição do produto Sabão em pó foi na 2° venda
A primeira aparição do produto Sabão em barra foi na 7° venda
A primeira aparição do produto Amaciante foi na 3° venda
A primeira aparição do produto Desinfetante foi na 5° venda
A primeira aparição do produto Detergente foi na 6° venda

In [26]:
#Desempacotamento de tuplas


#A tupla abaixo recebe, respectivamente, o nome, idade e nota de um estudante
estudante_info = ("Moisés", 18, 98.5)


#Podemos desempacotar as iformações, armazenando-as em várias variáveis
nome, idade, nota = estudante_info
print(f"O {nome} tem {idade} anos e tirou {nota}")

O Moisés tem 18 anos e tirou 98.5

In [29]:
#Retornando múltiplos valores 
def analisar_vendas(vendas_A, vendas_B):
    total_vendas = vendas_A + vendas_B
    top_vendido = "A" if vendas_A > vendas_B else "B"
    #Retornamos múltiplos valores
    return total_vendas, top_vendido

#e armazenamos ele em variáveis, usando o desempacotar
vendas_totais, mais_vendido = analisar_vendas(100, 85)

print(f"Tivemos {vendas_totais} vendas e o produto mais vendido foi o {mais_vendido}.")

Tivemos 185 vendas e o produto mais vendido foi o A.

In [31]:
#Iterando sobre tuplas
vendas = ([100, 107], [223, 189], [189, 100])

for venda_A, venda_B in vendas:
    print(f"Qantidade de vendas do produto A: {venda_A}")
    print(f"Qantidade de vendas do produto B: {venda_B}")
    print()

Qantidade de vendas do produto A: 100
Qantidade de vendas do produto B: 107

Qantidade de vendas do produto A: 223
Qantidade de vendas do produto B: 189

Qantidade de vendas do produto A: 189
Qantidade de vendas do produto B: 100

In [32]:
#trocando os valores entre duas variaveis
vendasA = 100
vendasB = 85
print(vendasA)
print(vendasB)
print()


#dessa forma, invertemos os valores entre as duas variaveis
vendasA, vendasB = vendasB, vendasA
print(vendasA)
print(vendasB)

100
85

85
100

In [35]:
#Comparando tuplas
t1 = (1, 2, 3)
t2 = (1, 2, 4)

#A comparação percorre todas as duas tuplas, procurando por dois elementos distintos; encontrando-o, classificando e encerrando em seguida
print(t1 < t2)
print()


t3 = (1, 2, 3)
t4 = (1, 2, 3, 4)

#A tupla mais comprida sempre será maior
print(t4 > t3)
print()

True

True